body {
    text-align: center;
}

.main-card {
    margin: 1rem;
}

.main-card button {
    position: relative;
    left: -45px;
    bottom: 15px;
}

.main-card img {
    width: 400px;
}

.favorites {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.favorites img {
    width: 150px;
}